
<% if @stamp.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@stamp.errors.count, "error") %> prohibited this stamp from being saved:</h2>
    <ul>
    <% @stamp.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@stamp) do |f| %>

<div class="form">
  <div class="field">
    <%= f.label t('stamp.attr.name') %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t('stamp.attr.area') %><br />
    <%= f.select :area, options_for_select(get_area_list, @stamp.area) %>
  </div>
  <div class="field">
    <%= f.label t('stamp.attr.group1') %><br />
    <%= f.select :group1, options_for_select(get_group1_list, @stamp.group1) %>
  </div>
  <div class="field">
    <%= f.label t('stamp.attr.group2') %><br />
    <%= f.text_field :group2 %>
  </div>
  <div class="field">
    <%= f.label t('stamp.attr.group3') %><br />
    <%= f.text_field :group3 %>
  </div>
  <div class="field">
    <%= f.label t('stamp.attr.issue_date') %><br />
    <%= f.text_field :issue_date %>
  </div>
  <div class="field">
    <%= f.label t('stamp.attr.price') %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label t('stamp.attr.own') %><br />
    <%= f.select :own, options_for_select(get_own_list, @stamp.own) %>
  </div>
  <div class="field">
    <%= f.label t('stamp.attr.image_path') %><br />
    <%= f.text_field :image_path %>
  </div>
</div>

<div class="form">
  <div class="field">
    <%= f.label t('stamp.attr.remark1') %><br />
    <%= f.text_field :remark1 %>
  </div>
  <div class="field">
    <%= f.label t('stamp.attr.remark2') %><br />
    <%= f.text_field :remark2 %>
  </div>
  <div class="field">
    <%= f.label t('stamp.attr.remark3') %><br />
    <%= f.text_field :remark3 %>
  </div>
  <div class="field">
    <%= f.label t('stamp.attr.description') %><br />
    <%= f.text_area :description, {:size => "40x13"} %>
  </div>
  <div class="actions">
    <%= f.submit val %>
  </div>
</div>

<% end %>

