<div class="form_layout">

<%= form_for(@stamp) do |f| %>

<%= render :partial => '/parts/form_errors', :locals => {:obj => @stamp} %>

<% stamp_override_defaults(@stamp) if val == t('common.register') %>

<div>
<fieldset>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :area, 'Region' %><br>
  <%= f.select :area, options_for_select(stamp_area_selection, @stamp.area) %><br>
  <%= f.label :group1 %><br>
  <%= f.select :group1, options_for_select(stamp_group1_selection, @stamp.group1) %><br>
  <%= f.label :group2 %><br>
  <%= f.text_field :group2 %><br>
  <%= f.label :group3 %><br>
  <%= f.text_field :group3 %><br>
  <%= f.label :issue_date %><br>
  <%= f.text_field :issue_date %><br>
  <%= f.label :price %><br>
  <%= f.text_field :price %><br>
  <%= f.label :remark1 %><br>
  <%= f.text_field :remark1 %><br>
  <%= f.label :remark2 %><br>
  <%= f.text_field :remark2 %><br>
  <%= f.label :remark3 %><br>
  <%= f.text_field :remark3 %><br>
</fieldset>
</div>

<div>
<fieldset>
  <%= f.label :status %><br>
  <%= f.select :status, options_for_select(stamp_status_selection, @stamp.status) %><br>
  <%= f.label :image_path %><br>
  <%= f.text_field :image_path %><br>
  <%= f.label :description %><br>
  <%= f.text_area :description %><br>
  <%= f.label :leaf %><br>
  <%= f.select :leaf_id, options_for_select(stamp_leaf_id_selection, @stamp.leaf_id) %><br>
  <%= f.submit val, {:class => "actions"}%><br>
</fieldset>
</div>

<% end %>

</div>
