
<%= render :partial => '/parts/title', :locals => {:val => t('common.stamps')} %>

<div id="operations">
  <%= render :partial => '/parts/paginate', :locals => {:obj => @stamps} %>
  <%= render :partial => '/parts/search', :locals => {:path => stamps_path } %>
  <%= render :partial => '/parts/commands', :locals => {:command => 'index' } %>
</div>

<% if @stamps.present? then %>

<table>
  <thead>
    <tr>
      <th><%= link_to t('stamp.name'), stamps_path(:order => 'name') %></th>
      <th><%= link_to t('stamp.area'), stamps_path(:order => 'area') %></th>
      <th><%= link_to t('stamp.group1'), stamps_path(:order => 'group1') %></th>
      <th><%= link_to t('stamp.group2'), stamps_path(:order => 'group2') %></th>
      <th><%= link_to t('stamp.group3'), stamps_path(:order => 'group3') %></th>
      <th><%= link_to t('stamp.issue_date'), stamps_path(:order => 'issue_date') %></th>
      <th><%= link_to t('stamp.price'), stamps_path(:order => 'price') %></th>
      <th><%= link_to t('stamp.remark1'), stamps_path(:order => 'remark1') %></th>
      <th><%= link_to t('stamp.remark2'), stamps_path(:order => 'remark2') %></th>
      <th><%= link_to t('stamp.remark3'), stamps_path(:order => 'remark3') %></th>
      <th><%= link_to t('stamp.leaf_id'), stamps_path(:order => 'leaf_id') %></th>
      <th><%= link_to t('stamp.status'), stamps_path(:order => 'status') %></th>
      <th><%= t('common.edit') %></th>
    </tr>
  </thead>

  <tbody>
  <% @stamps.each do |stamp| %>
    <tr>
      <td><%= link_to stamp.name, stamp %></td>
      <td><%= stamp.area %></td>
      <td><%= sn(stamp.group1) %></td>
      <td><%= sn(stamp.group2) %></td>
      <td><%= sn(stamp.group3) %></td>
      <td><%= sn(stamp.issue_date) %></td>
      <td><%= sn(stamp.price) %></td>
      <td><%= sn(stamp.remark1) %></td>
      <td><%= sn(stamp.remark2) %></td>
      <td><%= sn(stamp.remark3) %></td>
      <td><%= stamp.leaf_id %></td>
      <td><%= image_tag Stamp.icons[stamp.status] %></td>
      <td><%= link_to image_tag(Stamp.icons['edit']), edit_stamp_path(stamp) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% else %>

<%= t('message.empty') %>

<% end %>
