
<%= render :partial => '/parts/title', :locals => {:val => t('stamp.index.main_title')} %>

<div class="operation">
  <%= render :partial => 'pagination' %>
  <%= render :partial => 'commands', :locals => {:val => 'index'} %>
</div>

<table class="index_table">
<% order = cycle_order(session[:order].to_s) %>
  <tr>
    <th><%= link_to t('stamp.attr.name'), stamps_path(:sort => 'name', :order => order) %></th>
    <th><%= link_to t('stamp.attr.region'), stamps_path(:sort => 'region', :order => order) %></th>
    <th><%= link_to t('stamp.attr.group1'), stamps_path(:sort => 'group1', :order => order) %></th>
    <th><%= link_to t('stamp.attr.group2'), stamps_path(:sort => 'group2', :order => order) %></th>
    <th><%= t('stamp.attr.group3')%></th>
    <th><%= t('stamp.attr.issue_date')%></th>
    <th><%= t('stamp.attr.price')%></th>
    <th><%= t('stamp.attr.remark1')%></th>
    <th><%= t('stamp.attr.remark2')%></th>
    <th><%= t('stamp.attr.remark3')%></th>
    <th><%= link_to t('stamp.attr.status'), stamps_path(:sort => 'status', :order => order) %></th>
    <th><%= t('stamp.common.edit')%></th>
  </tr>

<% no_data = t('app.common.no_data')%>
<% @stamps.each do |stamp| %>
  <tr>
    <td id='index_table_title_td'><%= link_to stamp.name, stamp %></td>
    <td><%= Stamp.region_list.key(stamp.region)  %></td>
    <td><%= stamp.group1  %></td>
    <td><%= stamp.group2  %></td>
    <td><%= stamp.group3  %></td>
    <td><%= stamp.issue_date %></td>
    <td><%= stamp.price   %></td>
    <td><%= stamp.remark1 %></td>
    <td><%= stamp.remark2 %></td>
    <td><%= stamp.remark3 %></td>
    <td><%= Stamp.status_list.key(stamp.status)  %></td>
    <td><%= link_to 'Edit', edit_stamp_path(stamp) %></td>
  </tr>
<% end %>
</table>

<br />


<% content_for :sidebar do %>
<p>
This is side bar area.
</p>
<% end %>


