
<%= render :partial => '/parts/title', :locals => {:val => t('stamp.show.main_title')}%>

<div class="operation">
  <%= render :partial => 'commands', :locals => {:val => 'show'} %>
</div>

<p id="notice"><%= notice %></p>

<p>
  <b><%= ts('stamp.attr.name')%></b>
  <%= @stamp.name %>
</p>

<p>
  <b><%= ts('stamp.attr.region')%></b>
  <%= Stamp.region_list.key(@stamp.region) %>
</p>

<p>
  <b><%= ts('stamp.attr.group1')%></b>
  <%= @stamp.group1 %>
</p>

<p>
  <b><%= ts('stamp.attr.group2')%></b>
  <%= @stamp.group3 %>
</p>

<p>
  <b><%= ts('stamp.attr.group3')%></b>
  <%= @stamp.group3 %>
</p>

<p>
  <b><%= ts('stamp.attr.issue_date')%></b>
  <%= @stamp.issue_date %>
</p>

<p>
  <b><%= ts('stamp.attr.price')%></b>
  <%= @stamp.price %>
</p>

<p>
  <b><%= ts('stamp.attr.status')%></b>
  <%= Stamp.status_list.key(@stamp.status) %>
</p>

<p>
  <b><%= ts('stamp.attr.image_path')%></b>
  <%= @stamp.image_path %>
</p>

<p>
  <b><%= ts('stamp.attr.remark1')%></b>
  <%= @stamp.remark1 %>
</p>

<p>
  <b><%= ts('stamp.attr.remark2')%></b>
  <%= @stamp.remark2 %>
</p>

<p>
  <b><%= ts('stamp.attr.remark3')%></b>
  <%= @stamp.remark3 %>
</p>

<p>
  <b><%= ts('stamp.attr.description')%></b>
  <%= @stamp.description %>
</p>


<% content_for :sidebar do %>
<p>
This is side bar area.
</p>
<% end %>


