
<%= render :partial => '/parts/title', :locals => {:val => t('common.show')} %>

<div id="operations">
  <%= render :partial => '/parts/commands', :locals => {:command => 'show', :obj => @stamp } %>
</div>

<div class="form_layout">

<%= form_for(@stamp) do |f| %>

<div>
<fieldset>
  <%= f.label :name, t('stamp.name') %><br>
  <%= f.text_field :name, {:disabled => true} %><br>
  <%= f.label :area, t('stamp.area') %><br>
  <%= f.text_field :area, {:disabled => true} %><br>
  <%= f.label :group1, t('stamp.group1') %><br>
  <%= f.text_field :group1, {:disabled => true} %><br>
  <%= f.label :group2, t('stamp.group2') %><br>
  <%= f.text_field :group2, {:disabled => true} %><br>
  <%= f.label :group3, t('stamp.group3') %><br>
  <%= f.text_field :group3, {:disabled => true} %><br>
  <%= f.label :issue_date, t('stamp.issue_date') %><br>
  <%= f.text_field :issue_date, {:disabled => true} %><br>
  <%= f.label :price, t('stamp.price') %><br>
  <%= f.text_field :price, {:disabled => true} %><br>
  <%= f.label :remark1, t('stamp.remark1') %><br>
  <%= f.text_field :remark1, {:disabled => true} %><br>
  <%= f.label :remark2, t('stamp.remark2') %><br>
  <%= f.text_field :remark2, {:disabled => true} %><br>
  <%= f.label :remark3, t('stamp.remark3') %><br>
  <%= f.text_field :remark3, {:disabled => true} %><br>
</fieldset>
</div>

<div>
<fieldset>
  <%= f.label :status, t('stamp.status') %><br>
  <%= text_field_tag :status, t('stamp.statuses.'+@stamp.status), {:disabled => true} %><br>
  <%= f.label :image_path, t('stamp.image_path') %><br>
  <%= f.text_field :image_path, {:disabled => true} %><br>
  <%= image_tag stamp_image(@stamp.image_path, @stamp.status), :size => Stamp.image_size %><br>
  <%= f.label :description, t('stamp.description') %><br>
  <%= f.text_area :description, {:disabled => true} %><br>
  <%= f.label :leaf, t('stamp.leaf') %><br>
  <%= text_field_tag :leaf, stamp_leaf_name(@stamp), {:disabled => true} %><br>
</fieldset>
</div>

<% end %>

</div>
