
<div class="command_buttons">
  <% case val %>
  <% when 'index' then %>
    <%= form_tag modelstocks_path, :method => :get do %>
      <%= text_field_tag :keyword, session[:keyword] %>
      <%= submit_tag t('modelstock.index.search'), { :class => 'search_buttons' } %>
      <%= submit_tag t('modelstock.index.clear'), { :class => 'search_buttons' } %>
      <%= hidden_field_tag :order, session[:order] %>
    <% end %>
    <%= button_to t('modelstock.index.register'), {:action => 'new'}, :method => :get %>
  <% when 'new' then %>
    <%= button_to t('modelstock.common.back'), {:action => 'index'}, :method => :get %>
  <% when 'edit' then %>
    <%= button_to t('modelstock.common.back'), {:action => 'index'}, :method => :get %>
  <% when 'show' %>
    <%= button_to t('modelstock.common.edit'), {:action => 'edit'}, :method => :get %>
    <%= button_to t('modelstock.common.delete'), {:action => 'destroy', :id => @modelstock.id}, :confirm => t('modelstock.common.confirm'), :method => :delete %>
    <%= button_to t('modelstock.common.back'), {:action => 'index'}, :method => :get %>
  <% else %>
    <%= button_to t('modelstock.common.back'), {:action => 'index'}, :method => :get %>
  <% end %>
</div>

