
<%= render :partial => '/parts/title', :locals => {:val => 'Model Stocks'} %>

<div class="operation">
  <%= render :partial => 'pagination' %>
  <%= render :partial => 'commands', :locals => {:val => 'index'} %>
</div>

<table class="index_table">
  <tr>
    <th><%= link_to 'Name', modelstocks_path(:order => 'name ' + cycle_order(session[:order].to_s))%></th>
    <th>Scale</th>
    <th>Maker</th>
    <th>Category</th>
    <th><%= link_to 'Group', modelstocks_path(:order => 'series_id, volume ' + cycle_order(session[:order].to_s))%></th>
    <th>Status</th>
    <th>Edit</th>
  </tr>

<% @modelstocks.each do |modelstock| %>
  <tr>
    <td id='index_table_title_td'><%= link_to modelstock.name, modelstock %></td>
    <td><%= modelstock.scale.name if modelstock.scale_id.present? %></td>
    <td><%= modelstock.publisher.name if modelstcok.publisher_id.present? %></td>
    <td><%= modelstock.series.realm.name if modelstock.series_id.present? %></td>
    <td><%= modelstock.series.name if modelstock.series_id.present? %></td>
    <td><%= modelstock.status.name if modelstock.status_id.present? %></td>
    <td><%= link_to image_tag('web-app-theme/icons/application_edit.png'), {:action => 'edit', :id => modelstock.id}, :method => :get %></td>
  </tr>
<% end %>
</table>

<br />


<% content_for :sidebar do %>
<p>
This is side bar area.
</p>
<% end %>

