
<%= render :partial => '/parts/title', :locals => {:val => t('common.modelstocks')} %>

<div id="operations">
  <%= render :partial => '/parts/paginate', :locals => {:obj => @modelstocks} %>
  <%= render :partial => '/parts/search', :locals => {:path => modelstocks_path } %>
  <%= render :partial => '/parts/commands', :locals => {:command => 'index' } %>
</div>

<% if @modelstocks.present? then %>

<table>
  <thead>
    <tr>
      <th><%= link_to t('modelstock.name'), modelstocks_path(:order => 'name') %></th>
      <th><%= link_to t('modelstock.scale'), modelstocks_path(:order => 'scale') %></th>
      <th><%= link_to t('modelstock.provider'), modelstocks_path(:order => 'provider') %></th>
      <th><%= link_to t('modelstock.group1'), modelstocks_path(:order => 'group1') %></th>
      <th><%= link_to t('modelstock.group2'), modelstocks_path(:order => 'group2') %></th>
      <th><%= link_to t('modelstock.status'), modelstocks_path(:order => 'status') %></th>
      <th><%= t('common.edit') %></th>
    </tr>
  </thead>

  <tbody>
  <% @modelstocks.each do |modelstock| %>
    <tr>
      <td><%= link_to modelstock.name, modelstock %></td>
      <td><%= sn(modelstock.scale) %></td>
      <td><%= sn(modelstock.provider) %></td>
      <td><%= sn(modelstock.group1) %></td>
      <td><%= sn(modelstock.group2) %></td>
      <td><%= t('modelstock.statuses.' + modelstock.status) %></td>
      <td><%= link_to image_tag(Modelstock.icons['edit']), edit_modelstock_path(modelstock) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% else %>

<%= t('message.empty') %>

<% end %>
