
<%= render :partial => '/parts/title', :locals => {:val => t('devise.new')} %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="form_layout">

<div>
<fieldset>
  <%= f.label :email, t('devise.email') %><br>
  <%= f.email_field :email, autofocus: true %><br>
  <%= f.label :password, t('devise.password') %><br>
  <%= f.password_field :password, autocomplete: "off" %><br>
  <%= f.submit t('devise.new'), {:class => "actions"} %>
</fieldset>
</div>

<% end %>
</div>
