<div class="form_layout">

<%= form_for(@author) do |f| %>

<%= render :partial => '/parts/form_errors', :locals => {:obj => @author} %>

<div>
<fieldset>
  <%= f.label :name, t('author.name') %><br>
  <%= f.text_field :name %><br>
  <%= f.submit val, {:class => "actions"} %>
</fieldset>
</div>

<% end %>

</div>
