
<%= render :partial => '/parts/title', :locals => {:val => t('common.authors') } %>

<div id="operations">
  <%= render :partial => '/parts/commands', :locals => {:command => 'index' } %>
</div>

<table>
  <thead>
    <tr>
      <th><%= t('author.name') %></th>
      <th colspan="2"><%= t('common.commands') %></th>
    </tr>
  </thead>

  <tbody>
  <% @authors.each do |author| %>
    <tr>
      <td><%= author.name %></td>
      <td><%= link_to t('common.edit'), edit_author_path(author) %></td>
      <td><%= link_to t('common.delete'), author, method: :delete, data: {confirm: t('common.confirm')} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
