
<%= render :partial => '/parts/title', :locals => {:val => t('common.books')} %>

<div id="operations">
  <%= render :partial => '/parts/paginate', :locals => {:obj => @books} %>
  <%= render :partial => '/parts/search', :locals => {:path => books_path} %>
  <%= render :partial => '/parts/commands', :locals => {:command => 'index'} %>
</div>

<% if @books.present? then %>

<table>
  <thead>
    <tr>
      <th><%= link_to t('book.title'), books_path(:order => 'title') %></th>
      <th><%= t('book.volume') %></th>
      <th><%= link_to t('book.group1'), books_path(:order => 'group1') %></th>
      <th><%= link_to t('book.group2'), books_path(:order => 'group2') %></th>
      <th><%= link_to t('book.status'), books_path(:order => 'status') %></th>
      <th><%= t('common.edit') %></th>
    </tr>
  </thead>

  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= link_to book.title, book %></td>
      <td><%= sn(book.volume) %></td>
      <td><%= sn(book.group1) %></td>
      <td><%= sn(book.group2) %></td>
      <td><%= image_tag Book.icons[book.status] %></td>
      <td><%= link_to image_tag(Book.icons['edit']), edit_book_path(book) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% else %>

<%= t('message.empty') %>

<% end %>
