
<%= render :partial => '/parts/title', :locals => {:val => t('book.index.main_title')} %>

<div class="operation">
  <%= render :partial => 'pagination' %>
  <%= render :partial => 'commands', :locals => {:val => 'index'} %>
</div>

<table class="index_table">
  <tr>
    <th><%= link_to t('book.index.th_title'), books_path(:order => 'title ' + cycle_order(session[:order].to_s))%></th>
    <th><%= t('book.index.th_volume') %></th>
    <th><%= t('book.index.th_status') %></th>
    <th><%= t('book.index.th_realm') %></th>
    <th><%= link_to t('book.index.th_series'), books_path(:order => 'series_id, volume ' + cycle_order(session[:order].to_s))%></th>
    <th><%= t('book.index.th_edit') %></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td id='index_table_title_td'><%= link_to book.title, book %></td>
    <td><%= book.volume %></td>
    <td><%= book.status.name if book.status_id.present? %></td>
    <td><%= book.series.realm.name if book.series.realm_id.present? %></td>
    <td><%= book.series.name if book.series_id.present? %></td>
    <td><%= link_to image_tag('web-app-theme/icons/application_edit.png'), {:action => 'edit', :id => book.id}, :method => :get %></td>
  </tr>
<% end %>
</table>

<br />


<% content_for :sidebar do %>
<p>
This is side bar area.
</p>
<% end %>


